.header {
	-fx-background-color: #0f9d58;
}

.header .label {
	-fx-text-fill: #fff;
	-fx-font-size: 27px;
	-fx-font-weight: bold;
}

.jfx-text-area {
	-fx-padding: 0px 0px -15px 0px;
}

.anchor-pane {
	-fx-background-image: url("../images/background.jpg");
}

.test-btn {
	-fx-background-color: #fff;
	-fx-text-fill: green;
}