.header {
	-fx-background-color: #0f9d58;
}

.header .label {
	-fx-text-fill: #fff;
	-fx-font-size: 27px;
	-fx-font-weight: bold;
}

.jfx-text-area {
	-fx-padding: 0px 0px -15px 0px;
}

.anchor-pane {
	-fx-background-image: url("../images/background.jpg");
}

.test-btn {
	-fx-background-color: #fff;
	-fx-text-fill: green;
}

.login-left {
	-fx-background-color: linear-gradient(to bottom left, #7457c3, #42299f);
}

#signup-btn {
	-fx-border-color: #ab98e6;
	-fx-border-radius: 2px;
}

#map-background {
	-fx-background-image: url("../images/map-background.png");
	-fx-border-color: #ab98e6;
	-fx-border-width: 0.75px;
	-fx-border-radius: 3px;
}

.circle-station {
	-fx-stroke: #fff;
	-fx-stroke-width: 1.5px;
	-fx-fill: red;
}

.text-station {
	-fx-fill: #fff;
	-fx-font-weight: bold;
	-fx-font-size: 14px;
}

.hidden-element {
	-fx-pref-width: 0;
	-fx-opacity: 0;
}

#bike-gridpane {
	-fx-border-color: #333;
}

.bike-slot {
	-fx-pref-width: 120px;
	-fx-pref-height: 50px;
	-fx-text-fill: #fff;
}

.bike-slot-renting {
	-fx-background-color: #ff471a;
}

.bike-slot-avail {
	-fx-background-color: #00cc00;
}

.bike-slot-free {
	-fx-background-color: gray;
}

.electText {
	-fx-font-size: 16px;
}

.electBoldText {
	-fx-font-size: 16px;
	-fx-font-weight: bold;
}